<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>953449573665-i5u6p1mpemi68g8vn3fmriusdoo760s4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.953449573665-i5u6p1mpemi68g8vn3fmriusdoo760s4</string>
	<key>API_KEY</key>
	<string>AIzaSyCZCtKtHtiC34A1N9q4xfOuvf-lRQ_TWpg</string>
	<key>GCM_SENDER_ID</key>
	<string>953449573665</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.TournamakeIos</string>
	<key>PROJECT_ID</key>
	<string>tournamakepro</string>
	<key>STORAGE_BUCKET</key>
	<string>tournamakepro.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:953449573665:ios:aeea00994c9024a9</string>
	<key>DATABASE_URL</key>
	<string>https://tournamakepro.firebaseio.com</string>
</dict>
</plist>